* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contenedor {
    overflow: hidden;
    background: #20292F;
    color: white;
}

.texto {
    height: 100%;
    width: 70%;
    padding-top: 10%;
    padding-bottom: 10%;s
    padding-left: 50px;
    float: left;
}

.texto > h2 {
    font-weight: lighter;

}

.texto > p {
    margin-top: 20px;
    line-height: 23px;
}

.boton {
    float: left;
    width: 30%;
    height: 100%;
    padding-top: 14%;
    padding-left: 10%;
}

.boton > button {
    font-size: 20px;
    border: none;
    padding: 20px;
    border-radius: 5px;
    background: #3C9AEB;
    color: white;
    font-weight: bold;
}